* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  /* `otf-font-awesome` is required to be installed for icons */
  font-weight: 700;
  font-size: 14px;
  margin: 1.5px 0px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  color: rgba(41, 238, 223, 1);
}

#workspaces button.urgent {
  color: rgba(220, 50, 47, 1);
}

#clock,
#battery,
#systray,
#backlight,
#pulseaudio,
#tray,
#window,
#workspaces,
#power-profiles-daemon {
  padding: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery {
  padding-right: 14px;
}

#battery.charging,
#battery.plugged {
  color: #2ecc71;
}

@keyframes blink {
  to {
    color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: #f53c3c;
}

#power-profiles-daemon.balanced {
  color: #2980b9;
}

#power-profiles-daemon.power-saver {
  color: #2ecc71;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: #f53c3c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
